/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */

*{
    font-family: 'Merriweather Sans',Arial, sans-serif;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}

h1{
    font-size: 3em;
}

p{
    margin-top: 20px;
    font-size: 1.2em;
    line-height: 30px;
}


/* HEADER */

.header-first-section{
    background-color: #255EE9;
    padding-top: 20px;
}

.nav-bar-row{
    display: flex;
    width: 100%;
    justify-content: center
}

.nav-bar-row >* {
    line-height: 30px;
}
.logo{
    width: calc(100% / 6);
    padding-left: 5px;
}
.link{
    width: calc(100% / 2);
    text-align: center;
    color: white;
}
.login{
    width: calc(100% / 6);
    text-align: right;
    padding-right: 5px; 
}

nav ul > li{
    display: inline-block;
    padding: 0 10px;
}


header > section{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-second-section{
    width: 50%;
    text-align: center;
}
.title{
    color: white;
}
.text-title{
    color: white;
}


/* MAIN */

.main-section-four{
    height: 900px;
}

main > section:nth-of-type(even){
    background-color: #F6F6F6;
}

main > section{
    display: flex;
    align-items: center;
   
}
.section-container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 50px;
}

.img-main-section{
    width: 60%;
}

.text-main-section{
    width: 30%;
    padding-top: 25px;
}

#reverse{
    flex-direction: row-reverse;
}

.last-main-section{
    text-align: center;
}

.star-section{
    background-image: url(../img/stars.svg);
    background-position: center;
    margin-top: 30px;
}

/* FOOTER */

footer:first-child{
    display: flex;
    align-items: center;
    
}

.container-footer{
    display: flex;
    width: 100%;
    background-color: #23272A;
    justify-content: center;
    padding: 10px 0 20px 0;
}

.pink-footer-box{
    background-color:#F08080;
    border: 2px dashed black;
    height: 500px;
    width: 20%;
}
.blue-footer-box{
    background-color:#20B2AA;
    border: 2px dashed black;
    height: 500px;
    width: 40%;
    display: flex;
}

.columns{
    width: calc(100% / 4);
    border: 2px dashed white;
}


.background-footer{
    background-color: #23272A;
    padding-top: 25px;
}
.second-container-footer{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
    height: 80px;
    background-color: #7FFFD4;
    padding: 20px 0 ;
}

.logo-footer{
    background-color: #FFC0CB;
    border: 1px dashed black;
    padding: 5px
}
.button{
    background-color: #FFC0CB;
    border: 1px dashed black;
    padding: 5px
}

/* DEBUG */

.debug .nav-bar-row > *{
    background-color: #DAA520;
    border: 2px dashed black;
}

.debug header >section{
    background-color: #00008B;
}

.debug .text-main-section{
    background-color: #FFC0CB;
    border: 3px dashed black;
}
.debug .img-main-section{
    background-color: #1E90FF;
    border: 3px dashed black;
    height: 500px;
}

.debug .last-main-section{
    background-color: #228B22;
    border: 3px dashed black;
}